exportPattern("^[^\\.]")
import("ggplot2")
importFrom("grid","grid.newpage","pushViewport","viewport","grid.layout")
import("reshape2")
importFrom("stats", "approx", "approxfun", "coef", "confint",
             "gaussian", "glm", "lm", "loess", "lowess", "model.matrix",
             "poisson", "predict", "qt", "quantile", "rnbinom", "rnorm",
             "rpois", "sd", "smooth.spline", "update")
importFrom("utils", "head", "installed.packages", "tail")
importFrom("kernlab","gausspr","predict")
importFrom("stats","AIC")
